button{
    width: 250px;
    height: 80px;
    font-size: 35px;
    font-weight: bold;
    color:#fff;
    border:2px solid #fff;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #422197;
}

.boton-click{
    background-color: #640c82;
}

.boton-reiniciar{
    background-color: #950f88;
}